go 1.18

use (
	./chapterFiveApiServer
	./chapterFiveDataServer
	./chapterFourApiServer
	./chapterFourDataServer
	./chapterOne
	./chapterSevenApiServer
	./chapterSevenDataServer
	./chapterSixApiServer
	./chapterSixDataServer
	./chapterThreeApiServer
	./chapterThreeDataServer
	./chapterTwoApiServer
	./chapterTwoDataServer
	./common
	./rabbit
)
